<template>
  <a 
    class="button"
    :class="`button--${icon}`"
    :href="this.url"
    target="_blank"
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  name: 'Button',
  created() {
    this.url = `${this.mapsUrl}${this.street}+${this.number},+${this.postal}+${this.location}`
    console.log(this.url)
    console.log('Trekanten+7,+3720+Aakirkeby');
  },
  data() {
    return {
      mapsUrl: 'https://www.google.com/maps/place/',
      url: '',
    };
    
  },
  props: {
    href: String,
    text: String,
    icon: String,
    street: String,
    postal: String,
    location: String,
    Number: String,
  },
  methods: {
    logging() {
      console.log(location);
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/font';
@import '../assets/scss/colors';
@import '../assets/scss/basic';
.button {
  cursor: pointer;
  font-size: $textM;
  color: $white;
  background-color: $green;
  border-radius: $br;
  padding: .5rem calc(.5rem + 30px) .5rem .5rem;
  position: relative;
  text-decoration: none;

  &::after {
      position: absolute;
      right: .5rem;
      top: 52%;
      transform: translateY(-52%);
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s;
  }

  &:hover {
    padding-right: calc(1rem + 30px);
  }

  &--navi {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.819' height='21.819' viewBox='0 0 21.819 21.819'%3E%3Cpath id='Icon_awesome-location-arrow' data-name='Icon awesome-location-arrow' d='M18.943.15,1.225,8.328a2.066,2.066,0,0,0,.818,3.952h7.5v7.5a2.066,2.066,0,0,0,3.952.818L21.669,2.876A2.126,2.126,0,0,0,18.943.15Z' transform='translate(0 0)' fill='%23f0f0f0'/%3E%3C/svg%3E%0A");
      content: '';
    }

    &:hover {
          &::after {
          top: 40%;
        }
    }
  }
}

</style>