<template>
  <div 
    class="dot"
    :class="{
      'dot--active': isActive
    }" 
    v-show="isVisible"
  >
    <span class="dot__inner"></span>
  </div>
</template>

<script>
export default {
  name: "Test",
  created() {
  },
  data() {
    return {
      showInfo: false,
    };
  },
  props: {
    posTop: String,
    posLeft: String,
    pic: String,
    headline: String,
    info: Object,
    isActive: Boolean,
    isVisible: Boolean,
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/basic';

.dot {
  
  cursor: pointer;
  position: absolute;
  top: v-bind(posTop);
  left: v-bind(posLeft);
  width: 20px;
  height: 20px;
  transition: all .25s;

  &::before {
    content: '';
    position: absolute;
    background: #B56161 0% 0% no-repeat padding-box;
    width: 20px;
    height: 20px;
    z-index: 0;
    border-radius: 100%;
    filter: blur(2px);
    transition: all .25s;
    
  }

  &__inner {
    width: 10px;
    height: 10px;
    background: $red;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5px;
    transition: all .25s;
  }

  &--active {
    width: 30px;
    height: 30px;
    &::before {
      width: 30px;
      height: 30px;
    }
    

    .dot__inner {
    width: 20px;
    height: 20px;
    border: 2px solid $green; 
    }
  }

  &__img {
    width: 20px;
    height: 20px;
    border-radius: $br;
  }

  .short-info {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.15);
    background: $gray;
    position: absolute;
    width: 100px;
    height: 200px;
    border-radius: $br;
    left: 20px;
    top: -40px;
  }
}

</style>