<template>
  <div 
    class="filter-item"
    :class="{'filter-item--active': activeTile}"
    v-show="showTile"
    @click.native='handleClick' 
  >
    <span class="filter-item__text">{{ text }}</span>
    <span class="filter-item__close" v-show="activeTile"></span>
  </div>
</template>

<script>
export default {
  name: "Test",
  created() {},
  data() {
    return {
      isActive: false,
      init: 0
    };
  },
  props: {
    text: String,
    activeCat: String,
    showTile: Boolean,
    activeTile: Boolean,
  },
  watch: {
    activeCat() {
      console.log(this.activeCat);
      

    }
  },
  methods: {
    handleClick() {
      this.$emit("setActiveItem", this.text);
    },
    handleShow() {
      console.log(this.activeCat);
      if(this.activeCat) {

      }
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/basic';

.filter-item {
  font-size: 24px;
  line-height: 1;
  padding: 0.5rem 1rem;
  background: $gray;
  border-radius: $br;
  cursor: pointer;
  transition: all .5s; 
  position: relative;

  &--active {
    padding-right: 2rem;
  }

  &__close {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 20.1 20.1' xml:space='preserve'%3E%3Cstyle%3E .st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D %3C/style%3E%3Cpath class='st0' d='m3 3.1 14.1 14M2.9 17.2 17 3.2'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-52%);
  }
}

</style>