<template>
  <div 
  class="show-more"
  :class="{'show-more--open': arrowUp}"
  >
      <span class="show-more__arrow show-more__arrow--left"></span>
      <span class="show-more__arrow show-more__arrow--right"></span>
    <p class="paragraph">
      {{ text }}
    </p> 
    
  </div>
</template> 

<script>
export default { 
  created() {},
  data() {
    return {};
  },
  props: {
    text: String,
    arrowUp: Boolean
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/basic';
@import '../assets/scss/font';
  .show-more {
    color: $white;
    font-size: $textS;
    position: relative;
    cursor: pointer;

    .paragraph {
      padding-left: 25px;
    }

    &__arrow {
      width: 10px;
      height: 2px;
      background: $white;
      position: absolute;
      top: 18px;
      transform-origin: center;
      transition: transform 1s ease-in-out;

      &--left {
        transform: rotate(150deg);
        left: 7px;
      }

      &--right {
        transform: rotate(30deg);
        left: -1px;
      }
    }

    &--open {
      .show-more {
        &__arrow {

          &--left {
            transform: rotate(210deg);
          }

          &--right {
            transform: rotate(-30deg);
          }
        }
      }
    }
  }
</style>