<template>
  <div class="form">
    <Field 
      v-model="value1"
      label="Attraktion"
      placeholder="Bornholm" 
    />
    <Field 
      v-model="value1"
      label="Beschreibung"
      placeholder="Bornholm" 
      type="textarea"
    />
    <Uploader 
      v-model="fileList" 
      multiple 
      :max-count="3" 
    />
  </div>
</template>

<script>
import { Field, CellGroup } from 'vant';
import { Uploader } from 'vant';
import { ref } from 'vue';

export default {
  name: "Test",
  components: {
    Field,
    CellGroup,
    Uploader,
  },
  created() {},
  setup() {
    const fileList = ref([
      // {
      //   url: 'https://img.yzcdn.cn/vant/leaf.jpg',
      //   status: 'uploading',
      //   message: 'Uploading...',
      // },
      // {
      //   url: 'https://img.yzcdn.cn/vant/tree.jpg',
      //   status: 'failed',
      //   message: 'Failed',
      // },
    ]);

    const afterRead = (file) => {
      file.status = 'uploading';
      file.message = 'Uploading...';

      setTimeout(() => {
        file.status = 'failed';
        file.message = 'Failed';
      }, 1000);
    };

    return {
      fileList,
      afterRead,
    };
  },
  data() {
    return {};
  },
  props: {},
  methods: {},
};
</script>

<style lang="scss" scoped></style>