<template>
  <div class="filter-list">
    <FilterItem 
      v-for="(item, index) in categories"
      :key="index"
      :text="item"
      @setActiveItem="setCat"
      :activeCat="cat"
      @click.native="toggleTiles(index)"
      :showTile="this.activeIndex === index || this.showAllTiles"
      :activeTile="activeTile"
    />
  </div>
</template>

<script>
import FilterItem from '@/elements/FilterItem.vue'

export default {
  name: "Test",
  components: {
    FilterItem,
  },
  created() {},
  data() {
    return {
      cat: '',
      showAllTiles: true,
      activeIndex: null,
      activeTile: null,
    };
  },
  props: {
    categories: Array,
  },
  watch: {
    cat() {
      this.$emit("getActiveCat", this.cat);
    },

  },
  methods: {
    setCat(name) {
      console.log(name);
      this.cat = name;
      console.log(this.cat);
    },

    toggleTiles(i) {
      
      if(!this.showAllTiles && this.activeIndex === i) {
        console.log('case1');
          this.showAllTiles = true;
          this.activeTile = false;
          this.$emit("getActiveCat", null);
        } else if(!this.showAllTiles && this.activeIndex == i) {
          console.log('case2');
          this.showAllTiles = false;
          this.activeTile = true;
          this.$emit("getActiveCat", null);
        } else if(this.showAllTiles && this.activeIndex === i) {
          console.log('case3');
          this.showAllTiles = false;
          this.activeTile = true;
          this.$emit("getActiveCat", this.cat);
        } else {
          this.showAllTiles = false;
          this.activeTile = true;
        }
        this.activeIndex = i;
        console.log(this.showAllTiles);
      }
  },
};
</script>

<style lang="scss" scoped>

.filter-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

</style>