<template>
  <div class="header">
    <img src="../assets/img/Logo.svg" class="header__logo"/>
  </div>
</template>

<script>
export default {
  name: "Test",
  created() {},
  data() {
    return {};
  },
  props: {},
  methods: {},
};
</script>

<style lang="scss" scoped>

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  &__logo {
    width: 100px;
  }

}

</style>