<template>
  <div class="list-wrapper">
    <ListItem 
      v-for="(item, index) in data.apiData"
      :key="index"
      :content=data.apiData[index]
      :activeItem="activeItemIndex === index"
      :itemOpen="infoVisible"
      :index ="index"
      :activeIndex="activeItemIndex"
      v-show="item.Category === activeCategorie || activeCategorie === null"
    />
  </div>
</template>

<script>
import ListItem from '@/components/ListItem.vue'

export default {
  name: "Test",
  components: {
    ListItem,
  },
  created() {},
  data() {
    return {
      infoVisible: false,
    };
  },
  watch: {
    activeItemIndex() {
      this.infoVisible = true;
    },
  },
  props: {
    data: {},
    activeItemIndex: Number,
    activeCategorie: String,
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
  .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 90vh;
    overflow: auto;
    overflow-x: hidden;
  }

</style>