<template>
  <div class="lightbox">
    <div class="lightbox__close" @click="closeLightbox">
      <span class="lightbox__close-stripe"></span>
      <span class="lightbox__close-stripe"></span>
    </div>
    <img :src="imgSrc" class="lightbox__img" />
  </div>
</template>

<script>
export default {
  name: "Test",
  created() {},
  data() {
    return {};
  },
  props: {
    imgSrc: String,
  },
  methods: {
    closeLightbox() {
      this.$root.$data.lightboxVisible = false;
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/basic';
@import '../assets/scss/font';

  .lightbox {
    position: fixed;
    height: 80vh;
    width: 80vw;
    background: rgba(0,0,0,0.8);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;

    &__close {
      position: absolute;
      right: 3rem;
      top: 3rem;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    &__close-stripe {
      width: 30px;
      height: 2px;
      border-radius: $br;
      background: $white;
      display: block;
      transform: rotate(45deg);

      &:last-child {
        transform: rotate(-45deg);
        top: -2px;
      }
    }

    &__img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

</style>