<template>
  <div 
    class="list-item"
    :class="{
      'list-item--open': isActive,
      'list-item--active': isActive
      }"
  >
    <img :src="`http://cockpit.aaronjoel.de/${content.Bilder.path}`" class="list-item__img" />
    <h4 class="list-item__headline">{{ content.Headline }}</h4>
    <Button 
      text="Route" 
      icon="navi" 
      :street="content.Street"
      :number="content.Number"
      :postal="content.Plz"
      :location="content.Ort"
    />
    <div class="list-item__more" v-show="isActive">
      <div 
        class="list-item__gallery"
      >
      <img 
        v-for="(item, index) in content.Imgs"
        :key="index"
        :src="`http://cockpit.aaronjoel.de/${item.path}`" 
        class="list-item__gallery-img"
        @click="zoomImg(`http://cockpit.aaronjoel.de/${item.path}`)"
          /> 
      </div>
      <p class="list-item__address">
        {{ content.Address }}
      </p>
      <p class="paragraph">
        {{ content.Beschreibung }}
      </p>
    </div>
    <ShowMore text="mehr anzeigen" :arrow-up="isActive" @click.native="toggleStates" />
  </div>
</template>

<script>
import Button from '../elements/Button.vue'
import ShowMore from '../elements/ShowMore.vue'
import Lightbox from './Lightbox.vue'



export default {
  name: "ListItem",
  components: {
    Button,
    ShowMore,
    Lightbox,
  },
  created() {},
  data() {
    return {
      infoVisible: false,
      isActive: false,
      
    };
  },
  props: {
    content: {},
    activeItem: Boolean,
    itemOpen: Boolean,
    index: Number,
    activeIndex: Number,
  },
  watch: {
    activeIndex() {
      if(this.activeIndex === this.index) {
        this.isActive = true;
      } else {
        this.isActive = false;
      }
    },
  },
  methods: {
    toggleStates() {
      this.$parent.$data.infoVisible = null;
      if(this.activeIndex === this.index) {
        
        this.isActive = !this.isActive;
      } else {
        this.$root.$data.activeAttraction = this.index;
        this.isActive = true;
      }
      console.log(this.$root.$data.activeAttraction);
    },

    zoomImg(path) {
      this.$root.$data.clickedImg = path;
      this.$root.$data.lightboxVisible = true;
    }
  },
};
</script>

<style lang="scss">
@import '../assets/scss/colors';
@import '../assets/scss/basic';
@import '../assets/scss/font';

@keyframes pulse {
  0% {
    filter: drop-shadow(2px 4px 6px $red);
  }
  50% {
    filter: drop-shadow(2px 4px 12px $red);
  }
  100% {
    filter: drop-shadow(2px 4px 6px $red);
  }
}

  .list-item {
    width: 500px;
    height: 130px;
    background: $gray;
    border-radius: $br;
    padding: 1.5rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.15);
    display: grid;
    grid-template-areas: 'img headline button'
    'img more button';

    &--open {
      height: 100%;
      grid-row-gap: 2rem;
      grid-template-areas: 
      'img headline button' 
      'longtext longtext longtext'
      '. more .';
    }

    &--active {
      animation: pulse 1s ease-in-out infinite;
    }

    &__img { 
      width: 90px;
      height: 90px;
      object-fit: cover;
      object-position: center;
      border-radius: $br;
      grid-area: img;
    }

    &__headline {
      color: $white;
      font-size: $headlineM;
      grid-area: headline;
    }

    &__more {
      grid-area: longtext;
      width: 100%;
      max-width: calc(500px - 3rem);
    }

    &__gallery {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    &__gallery-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: $br;
    }

    .button {
      grid-area: button;
      align-self: center;
      justify-self: end;
    }

    .show-more {
      grid-area: more;
    }
  }
</style>