<template>
  <div class="map-wrapper">
    <img src="../assets/img/map.png" class="map-img"/>
    <Dot 
      v-for="(item, index) in data.apiData"
      :key="index"
      :posTop="data.apiData[index].DotPosTop" 
      :posLeft="data.apiData[index].DotPosLeft" 
      :isActive="activeDotIndex === index"
      :isVisible="item.Category === visibleCategorie || visibleCategorie === null"
      @click.native="sendCurrIndex(index)"
    />
  </div>
</template>

<script>
import Dot from '../elements/Dot.vue'

export default {
  created() {},
  components: {
    Dot,
  },
  data() {
    return {
      
    };
  },
  props: {
    data: {},
    activeDotIndex: Number,
    visibleCategorie: String,
  },
  methods: {
    sendCurrIndex(x) {
      this.$emit('setActiveAttraction', x)
      this.$parent.$data.activeAttraction = x;
    }
  },
};
</script> 

<style lang="scss" scoped>
@import '../assets/scss/colors';

@keyframes pulse {
  0% {
    filter: drop-shadow(2px 4px 6px $red);
  }
  50% {
    filter: drop-shadow(2px 4px 12px $red);
  }
  100% {
    filter: drop-shadow(2px 4px 6px $red);
  }
}

.map-img {
  max-width: 100%;
  filter: drop-shadow(2px 4px 6px $red);

  &:hover {
    animation: pulse 1s ease-in-out infinite;
  }
}

</style> 