/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/oswald-v47-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/oswald-v47-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/oswald-v47-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswald-v47-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/oswald-v47-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/oswald-v47-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/oswald-v47-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/oswald-v47-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/oswald-v47-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswald-v47-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/oswald-v47-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/oswald-v47-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/oswald-v47-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/oswald-v47-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/oswald-v47-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswald-v47-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/oswald-v47-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/oswald-v47-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/oswald-v47-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/oswald-v47-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/oswald-v47-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswald-v47-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/oswald-v47-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/oswald-v47-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}


* {
  font-family: 'Oswald';
}