

<template>
  <div class="wrapper">
    <Header />
    <Map :data={apiData} :activeListener="setActiveAttraction" :activeDotIndex="activeAttraction" :visibleCategorie="showCategorie" />
    <div class="list">
      <FilterList :categories="categories"  @getActiveCat="activeCategorie" @setCategorie="activeCategorie(this.activeCategorie)"/>
      <ItemList :data={apiData} :activeItemIndex="activeAttraction" :activeCategorie="showCategorie"/>
    </div>
    
    <Lightbox v-if="lightboxVisible" :imgSrc="clickedImg" />
    <AddEntry />
  </div>
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'
import ListItem from '@/components/ListItem.vue'
import ItemList from '@/components/ItemList.vue'
import Map from '@/components/Map.vue'
import Lightbox from '@/components/Lightbox.vue'
import FilterList from '@/components/FilterList.vue'
import Header from '@/components/Header.vue'
import AddEntry from '@/components/AddEntry.vue'


export default {
  components: {
    ListItem,
    Map,
    ItemList,
    RouterView,
    Lightbox, 
    FilterList,
    Header,
    AddEntry,
  },
  created() {},
  data() {
    return {
      apiData: null,
      activeAttraction: null,
      clickedImg: '',
      lightboxVisible: false,
      categories: [],
      showCategorie: null,
    };
  },
  props: {},
  async created() {
    const response = await fetch('http://cockpit.aaronjoel.de/api/collections/get/Attraktionen', {
    headers: { 'Cockpit-Token': '14a2cf4e91d90e20fd8ceb05bde5fd' }
    });
    const data = await response.json();
    console.log(data);
    this.apiData = data.entries; 
    this.categories =  this.apiData.map(item => (item.Category));
    this.categories = [...new Set(this.categories)];
    console.log(this.apiData);
    console.log(this.categories);
  },
  methods: {
    setActiveAttraction(index) {
      this.activeAttraction = index;
    },

    zoomImg(path) {
      this.clickedImg = path;
      this.lightboxVisible = true;
    }, 
    activeCategorie(cat) {
      this.showCategorie = cat;
    }
  }, 
  watch: {
    activeAttraction() {
      console.log(this.activeAttraction);
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/base.css';

.wrapper {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .map-wrapper {
    flex-basis: 100%;

    @media (min-width: 600px){
      flex-basis: 50%;
    }
  }

  .list {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 600px){
      flex-basis: 50%;
    }
  }
}

</style>
